body {
    color:#282425;
    background-color:#fff1e6;
    font-family: 'Tilt Neon', cursive;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

h1 {
    font-family:'Bodoni Moda', serif;
    font-style: italic;
    text-shadow: 1px 1px black;
    color:aquamarine;
    text-decoration: darkcyan;
}

h2 {
    font-family:'Bodoni Moda', serif;
    font-style: italic;
    font-size: 28px;
}

h2:hover,
h2:focus,
h2:active {
    background-color: antiquewhite;
}

h3 {
    font-size: 18px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}

h4 {
    font-size: 16px;
}

a {
    color: rgb(104, 57, 57);
} 
    
a:hover,
a:focus,
a:active {
    background-color: antiquewhite;
}
    
.hlavicka {
    color:aquamarine;
    font-size: 32px;
    background-color:rgb(167, 145, 145);
    text-align: center;
    padding: 20px 50px 20px 20px;
    margin: 10px;
}

.paticka {
    background-color:rgb(167, 145, 145);
    text-align: center;
    font-size: 12px;
}

table {
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #282425;
}

.me-foto {
    float: left;
    overflow: auto;
    width: 220px;
    height: 265px;
    border: 2px solid white;
    border-radius: 50%;
}

.detaily {
    line-height: 1;
}

.row {
  display: flex; 
}

.column {
    padding: 10px;
}

